.container {
  @include flexbox;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.page4-bg {
  background-color: #f5f5f5;
}

.image-container {
  margin-top: 13.2rem;
  margin-bottom: 6.3rem;
}

.introduce-text {
  @include text-style(24, $weight: light);
  text-align: center;
  margin-bottom: 2.3rem;
  line-height: 3rem;
}
.bold-purple-text {
  @include text-style(24, $primary, bolder);
}

.character-placeholder {
  background-color: $gray25;
  color: #666;
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  @include text-style(16, $weight: light);
  margin-top: 4.2rem;
  margin-bottom: 10.6rem;
}

.description {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}

.pagination {
  @include flexbox($ai: none);
  margin-bottom: 6.6rem;

  .dot {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: $gray20;
    margin: 0 1rem;

    &.purple-active {
      background-color: $primary;
    }

    &.yellow-active {
      background-color: $yellow-20;
    }
  }
}

.button {
  @include flexbox;
  @include text-style($size: 15, $weight: light);
  width: 40.8rem;
  padding: 1.5rem 0;
  margin: 0 2.3rem;
  margin-bottom: 10.6rem;
  border-radius: 0.6rem;

  cursor: pointer;
  transition: $base-transition;
}

.next-button {
  color: $white;
  background-color: $primary;
  &hover {
    background-color: #3700b3;
  }
}

.kakao-button {
  @extend .button;
  @include text-style(16, $weight: light);
  background-color: $yellow-10;
  color: $black;
}

.kakao-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
