.container {
  @include text-style(14, $gray10, light);

  border: 0.1rem solid $primary;
  border-radius: 0.6rem;
  width: 100%;
  overflow: hidden;
}

.selected {
  @include text-style(14, $black);
}
