.header-container {
  @include flexbox(center, center);
  position: relative;
  width: 100%;
  height: 3.3rem;
  margin-top: 6.1rem;
}

.return-button {
  position: absolute;
  top: 0;
  left: 2.6rem;
  @include pos-center-y($type: absolute);
}

.create-post {
  @include text-style(24, black, bolder);
}

.profile-button {
  position: absolute;
  top: 0;
  right: 1.9rem;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  background-color: $gray20;
}
