@keyframes heartBeat {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.heart-icon {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  &.liked {
    animation: heartBeat 0.5s ease;
  }
}

.actions {
  @include flexbox(start, center, 0.5rem);
}
