.members-container {
  @include column-flexbox(center, center, 2.7rem);

  padding: 3.6rem 2.4rem 0 2.3rem;

  .members-list {
    @include column-flexbox(center, start, 2.1rem);

    padding: 1.8rem 0 2rem 2rem;
    width: 100%;
    border-radius: 0.6rem;
    border: 0.05rem solid $primary-10;

    .member-item {
      @include flexbox(start, center, 1.6rem);

      .image-container {
        width: 3.7rem;
        height: 3.7rem;
        border-radius: 50%;

        .image {
          border-radius: 50%;
        }
      }

      .info-container {
        @include column-flexbox(center, start, 0.5rem);

        .username {
          @include text-style(16);
        }
        .email {
          @include text-style(14);

          font-weight: 300;
        }
      }
    }
  }
}
