.title {
  @include text-style(24, $black, bolder);

  padding-left: 2.1rem;
  padding-top: 1.8rem;
}

.input-container {
  @include text-style(18, $black, bold);
  @include column-flexbox(center, start, 1rem);

  padding: 5.2rem 2.3rem 0 2.4rem;
}
