.draggableContent {
  width: 100%;
  cursor: grab;
  background-color: $white;
  border-radius: 0.6rem;
  position: relative;
  user-select: none;
  transition: transform 0.3s ease;

  &-noticeButton {
    position: absolute;
    width: 0.3rem;
    height: auto;
    background-color: $accent-color;
    top: 0.5rem;
    bottom: 0.5rem;
    right: 1rem;
    border-radius: 1rem;
  }
  &-button {
    @include flexbox(between, center);

    border: 0.05rem solid $primary-10;
    border-radius: 0.6rem;
    width: 100%;
    padding: 1.35rem 2.1rem 1.35rem 2.2rem;

    &-title {
      @include text-style(18, $black, bold);
    }

    &-duration {
      @include text-style(18, $black, light);
    }
  }
}

.draggableContent.showButton {
  transform: translateX(-12.7rem);
}

.Buttons {
  @include flexbox(center, center);
  width: 9.9rem;
  height: 4.8rem;
  background-color: $gray20;
  border: none;
  border-radius: 0.6rem;
  position: absolute;
  right: -10.2rem;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 1s ease;
  opacity: 0;
  cursor: default;

  & > *:not(:last-child) {
    border-right: 0.1rem solid $gray;
    border-right-color: $gray;
  }
}

.Buttons.showButton {
  opacity: 1;
  cursor: pointer;
}

.button-cover {
  @include flexbox(center, center);
  height: 100%;
  width: 100%;
  border: 0.6rem solid transparent;

  .button {
    transition: $base-transition;
  }

  &:hover {
    .revise {
      filter: brightness(40%);
    }
    .delete {
      color: red;
    }
  }
}

.addButton {
  transition: $base-transition;
  position: absolute;
  right: 3.8rem;
  bottom: 20.1rem;

  &:hover {
    filter: brightness(0.9);
  }
}
