.feed-container {
  border-top: 0.1rem solid $gray20;
  margin-top: 2.2rem;

  .feed-post {
    padding: 2rem 0 0 2.4rem;
  }
}

.profile {
  @include flexbox($jc: between, $ai: center);
  margin-bottom: 12px;
}

.big-avatar {
  width: 5rem; // 더 큰 아바타 크기
  height: 5rem;
  border-radius: 50%; // 원형 유지
  background-color: $gray20; // 배경색
  margin-right: 1.2rem;
}

.profile-info {
  flex-grow: 1;
}

.user-name {
  @include text-style($size: 14, $weight: bolder);
}

.location {
  @include text-style($size: 12, $weight: light);
  margin-top: 0.7rem;
}

.date {
  @include text-style($size: 12, $weight: light);
  align-self: flex-start;
  margin-top: 0.5rem;
  margin-right: 2rem;
}

.title {
  @include text-style($size: 16, $weight: bolder);
  margin-top: 2.2rem;
}

.text-content {
  @include text-style($size: 14, $weight: light);
  margin-top: 1.4rem;
}

.image-container {
  @include flexbox(start, center, 1.2rem);
  overflow-x: auto;
  // width: 100%;
  margin-top: 1.4rem;

  // .image {
  //   height: 15rem; /* 원하는 세로 크기 */
  //   width: auto;
  // }
}

.actions {
  @include flexbox(start, center, 0.5rem);
  @include text-style(12);

  font-weight: 300;
  margin-left: 0.2rem;
  margin-top: 0.8rem;
}

.comment-section {
  @include column-flexbox(center, start, 1.5rem);

  padding: 1.1rem 0 0 2rem;
  border-top: 0.1rem solid $gray20;
  margin-top: 1.2rem;

  .comment {
    @include flexbox(between, center, 1.2rem);
    width: 100%;
    padding-right: 2rem;
    &-container {
      @include flexbox(between, center, 1.2rem);
    }

    .avatar {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: $gray20;

      .img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .content {
      @include column-flexbox(center, start, 0.4rem);

      .username-title-box {
        @include flexbox(center, center, 0.7rem);
      }

      .username {
        @include text-style($size: 12, $weight: normal);
      }

      .date {
        @include flexbox;
        font-size: 1rem;
        font-weight: 300;
        margin-top: 0.1rem;
        height: 100%;
      }

      .text {
        @include text-style($size: 12, $weight: light);
      }
    }

    .add-comment-form {
      width: 100%;

      .add-comment {
        @include text-style(12, $black);
        width: 100%;
        &::placeholder {
          @include text-style(12, $gray);
        }
      }
    }
  }
}

.buttons {
  @include flexbox(center, center, 0.7rem);

  .delete-button {
    transition: $base-transition;

    &:hover {
      color: red;
    }
  }
}
