.card {
  // padding-top: 2.4rem;
  border-top: 0.1rem solid $gray20;
  margin-top: 2.4rem;

  .post {
    padding: 1.8rem 0 1.2rem 2rem;
    border-bottom: 0.1rem solid $gray20;
  }
}

.profile {
  @include flexbox($jc: between, $ai: center);
  margin-bottom: 1.2rem;
  margin-right: 2.1rem;
}

.avatar {
  width: 4.9rem;
  height: 4.9rem;
  border-radius: 50%;
  background-color: $gray20;
  margin-right: 1.2rem;
}

.profileInfo {
  flex-grow: 1;
}

.userName {
  @include text-style($size: 14, $weight: bolder);
}

.location {
  @include text-style($size: 12, $weight: light);
  margin-top: 0.7rem;
}

.date {
  @include text-style($size: 12, $weight: light);
  align-self: flex-start; /* 해당 요소만 상단에 배치 */
  margin-top: 0.5rem;
}

.title {
  @include text-style($size: 16, $weight: bolder);
  margin-top: 2.2rem;
}

.more {
  color: #999;
  cursor: pointer;
}

.imagePlaceholder {
  width: 100%;
  display: flex;
  overflow-x: scroll; /* 수평 스크롤 가능 */
  margin-top: 1.4rem;
  .image {
    width: 15rem;
    height: 15rem;
    margin-right: 1rem; /* 이미지 간격 조정 */
  }
  /* 스크롤바 스타일 커스터마이징 */
  &::-webkit-scrollbar {
    height: 1.2rem; /* 스크롤바 높이 설정 */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* 스크롤바 배경 투명 처리 */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray10; /* 스크롤바 색상 */
    border-radius: 0.8rem; /* 스크롤바에 border-radius 추가 */
    border: 0.2rem solid transparent; /* 스크롤바에 투명한 테두리 추가 */
    background-clip: padding-box; /* 테두리와 thumb 사이에 공간 생성 */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $gray; /* 호버 시 스크롤바 색상 변경 */
    transition: $base-transition;
  }
}

.actions {
  @include flexbox(start, center, 0.5rem);
  @include text-style(12);

  font-weight: 300;
  gap: 0.5rem;
  margin-left: 0.2rem;
  margin-top: 0.8rem;
}

.write-button {
  @include text-style($size: 16, $weight: bolder);
  position: fixed;
  bottom: 8.4rem;
  /* 화면의 전체 너비가 100vw일 때, 45.5rem이 전체 화면에서 차지하는 비율을 계산, 화면 전체 너비에서 반으로 나누고 약간의 여백 추가 */
  right: calc((100vw - 45.5rem) / 2 + 2.3rem);
  background-color: $primary;
  border-radius: 3rem;
  padding: 1.2rem 2.7rem 1.1rem 1.9rem;
  color: $white;
  display: flex;
  align-items: center;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
  .plus-icon {
    margin-right: 1.8rem;
  }
}

@include responsive(M) {
  .write-button {
    bottom: 8.4rem;
    right: 2.3rem;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;

  .spinner-icon {
    border: 0.4rem solid rgba(0, 0, 0, 0.1); // 바깥쪽 테두리
    border-top: 0.4rem solid $primary; // 스피너의 상단 부분 색상
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.comments {
  @include column-flexbox(center, start, 1.2rem);

  margin-top: 1.7rem;
  width: 100%;

  .comment {
    @include flexbox(start, center, 1.2rem);
    width: 100%;

    .avatar {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0;

      .img {
        border-radius: 50%;
      }
    }

    .content {
      @include column-flexbox(center, start, 0.4rem);
      @include text-style(12);

      .text {
        font-weight: 300;
      }
    }
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.heart-icon {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  &.liked {
    animation: heartBeat 0.5s ease;
  }
}
