.addSchedule {
  @include column-flexbox(start, center, 3rem);
  @include text-style(16, $black, bold);

  width: 100%;
  background-color: $white;
  flex: 1;

  &-name {
    @include text-style(16, $black, bold);
    @include column-flexbox(center, start, 1rem);
    width: 100%;
    padding: 2.3rem 2.4rem 0 2.3rem;

    &-input {
      @include text-style(14, $black, light);
      width: 100%;
      padding: 1.5rem 1.7rem 1.6rem;
      border-radius: 0.6rem;
      border: 0.05rem solid $gray;
      transition: $base-transition;

      &::placeholder {
        @include text-style(14, $gray, light);
      }
      &:focus {
        border-color: $primary;
        outline: none;
      }
    }
  }

  &-date {
    @include text-style(16, $black, bold);
    @include column-flexbox(center, start, 1rem);
    width: 100%;
    padding: 0 2.4rem 0 2.3rem;

    &-inputs {
      @include flexbox(center, center, 1rem);
      width: 100%;
    }

    &-input {
      @include text-style(14, $black, light);
      @include flexbox(start, center);
      position: relative;
      width: 100%;
      padding: 1.5rem 2rem 1.7rem;
      border-radius: 0.6rem;
      border: 0.05rem solid $gray;
      transition: border 0.3s ease;

      &.invisible {
        border: none;
      }

      .text-content {
        opacity: 1;
        visibility: visible;
        transition:
          opacity 0.3s ease,
          visibility 0.3s ease;

        &.invisible {
          opacity: 0;
          visibility: hidden;
        }
      }

      .picker-overlay {
        animation: slideIn 0.3s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        visibility: visible;
        background-color: $white;
        border-radius: 0.6rem;
      }
    }
  }
}

.button-container {
  width: 100%;
  padding: 1rem 2.4rem 0 2.3rem;
}

.error-message {
  @include text-style(14, red);
  margin-top: 0.3rem;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
