.container {
  @include column-flexbox(center, center, 2.6rem);
  width: 100%;

  .title {
    @include flexbox(start, center);
    @include text-style(24, $black, bolder);

    width: 100%;
    margin: 7.5rem 0 0 2.5rem;
  }

  .profile {
    @include flexbox(start, center, 1.5rem);

    width: 100%;
    padding-left: 2.5rem;

    .image-container {
      @include flexbox;

      background-color: $gray20;
      width: 6.5rem;
      height: 6.5rem;
      border-radius: 50%;

      .profile-image {
        border-radius: 50%;
      }
    }

    &-info {
      @include text-style(20, $black, bolder);
      @include column-flexbox(center, start, 0.3rem);

      &-email {
        @include text-style(15, $black, light);
      }
    }
  }
}
