.mainform {
  overflow: hidden;
}
.title-container {
  @include flexbox(center, center);
  margin-top: 6.1rem;
  width: 100%;
  position: relative;
}

.return-button {
  position: absolute;
  top: 0;
  left: 2.6rem;
  @include pos-center-y($type: absolute);
}

.create-post {
  @include text-style(24, black, bolder);
}

.form-container {
  padding: 8.7rem 2.3rem 3.5rem 2.3rem;
  .image-container {
    display: flex;
  }
  .image-form-section {
    .imageLabel {
      @include text-style(16, $weight: bolder);

      .imagePlaceholder {
        margin-top: 2.2rem;
        width: 8.5rem;
        height: 8.5rem;
        border-radius: 0.8rem;
        border: 0.1rem solid $gray;
        background-color: $gray20;
        @include flexbox;
        cursor: pointer;
        div {
          text-align: center;
          p {
            font-size: 1rem;
            font-weight: 700;
            color: #666;
          }
        }
      }
    }
    .fileInput {
      display: none;
    }
  }
  .image-preview-section {
    overflow-x: auto;
    margin-left: 1rem;
    display: flex;
    align-items: end;
    width: 100%;
    .image-preview-position {
      display: flex;
      gap: 1rem;

      .image-preview-remove {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
          border: 0.1rem solid $gray;
          border-radius: 0.8rem;
          width: 8.5rem;
          height: 8.5rem;
        }
        .remove-button {
          @include flexbox;
          position: absolute;
          top: -1rem;
          right: -0.8rem;
          width: 1.9rem;
          height: 1.9rem;
          color: #d9d9d9;
          background-color: white;
          border-radius: 50%;
          border: 0.1rem solid $gray;
          cursor: pointer;
        }
      }
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    label {
      @include text-style(16, $weight: bolder);
      margin-top: 3rem;
    }
    .input-field,
    .textArea {
      @include text-style(14, $weight: light);
      margin-top: 1rem;
      width: 100%;
      padding: 1.7rem 1.5rem;
      border: 0.1rem solid #ccc;
      border-radius: 0.6rem;
      border: 0.1rem solid $gray;
      &:focus {
        border: 0.05rem solid $primary;
      }
    }

    .textArea {
      height: 15rem;
      resize: none;
    }
  }

  .share-container {
    margin-top: 2.2rem;
    .text {
      @include text-style(16, $weight: bolder);
      margin-bottom: 1rem;
    }
    .visibility {
      display: flex;
      .all,
      .group {
        text-align: center;
        background-color: $gray30;
        @include text-style(16);
        padding: 1.4rem 0;
        flex-grow: 1;
        cursor: pointer;

        &.active {
          background-color: $primary;
          color: white;
        }
      }

      .all {
        border-radius: 0.6rem 0rem 0rem 0.6rem;
      }

      .group {
        border-radius: 0rem 0.6rem 0.6rem 0rem;
      }
    }
  }

  .submitButton {
    @include text-style(15, white, light);
    width: 100%;
    margin-top: 12rem;
    padding: 1.5rem 0;
    background-color: $primary;
    border-radius: 0.6rem;
    cursor: pointer;
  }
}
