.group-complete {
  @include column-flexbox(center, center, 11rem);

  background-color: $gray30;
  flex: 1;
  min-height: 100vh;
  padding: 0 2.4rem 0 2.3rem;

  &-body {
    @include column-flexbox(center, center, 9.3rem);

    &-description {
      @include column-flexbox(center, center, 2rem);
      @include text-style(30, $black, bolder);

      line-height: 4rem;

      &-sub {
        @include text-style(16, $gray, light);
        line-height: 2.5rem;
      }
    }
  }

  &-button {
    width: 100%;
  }
}
